@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-cyrillic_latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-cyrillic_latin-700.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.ttf") format("truetype");
}

:root {
  --main-color-brand-blue: #2b7fff;
  --second-color-brand-gray: #747272;
  --third-color-brand-white: #ffffff;
  --fourth-color-brand-black_blue: #011c44;
  --main-font-size: 18px;
  --second-font-size: 22px;
  --main-font-weight: 400;
  --second-font-weight: 600;
}

/* reset style  */
body {
  padding: 0;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a,
.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* global style */

.visually-hidden {
  display: none;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: Roboto;
  font-size: var(--second-font-size);
  font-weight: var(--main-font-weight);
  color: var(--fourth-color-brand-black_blue);
}

.link {
  color: var(--fourth-color-brand-black_blue, #011c44);
}

.link:hover {
  color: var(--main-color-brand-blue);
  font-weight: 700;
}

.title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.accent {
  color: var(--main-color-brand-blue);
}

.btn {
  background-color: var(--main-color-brand-blue);
  padding: 16px 32px;
  border-radius: 32px;
  color: var(--third-color-brand-white, #fff);
  border: transparent;
  font-size: var(--main-font-size);
  font-weight: var(--second-font-weight);
}

/* header section  */
.header {
  font-size: var(--main-font-size);
}

/* hero section  */

.hero_section__main_title {
  font-size: var(--main-font-size);

  font-weight: var(--main-font-weight);
}

.hero_section__big_title {
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
}

.hero_section_description {
  font-size: 12px;
}

/* reincarnate_section  */

.reincarnate_section__paragraph {
  line-height: 1.72;
}

.reincarnate_section__accent {
  text-transform: capitalize;
}

.reincarnate_section__paragraph span {
  text-transform: capitalize;
  font-weight: var(--second-font-weight);
}

/* whi_we_section  */

.whi_we_section__list {
  font-size: var(--main-font-size);
  line-height: 1.34;
}

.procedure_section__item_description {
  color: var(--third-color-brand-white);
  line-height: 1.19;
}

/* .contacts_section  */

.contacts_section__form_title {
  font-size: var(--second-font-size);
  font-weight: var(--second-font-weight);
}

.contacts_section_politicks {
  font-size: 12px;
  line-height: 1.5;
}

.footer {
  background: var(--fourth-color-brand-black_blue);

  font-size: 16px;
  color: var(--third-color-brand-white);
}

.footer__nav_icon path {
  fill: var(--third-color-brand-white);
}

.footer__address_link {
  color: var(--third-color-brand-white);
}

.footer__politicks_prescription {
  color: #747272;
  font-size: 13px;
}

.footer__politicks_link {
  color: var(--third-color-brand-white);
}
